/* 메인 구역 */
.main {
  display: flex;
  justify-content: space-between;
}
#main-left {
  flex-basis: 20%;
}
#main-center {
  border-left: 2px solid black;
  border-right: 2px solid black;
  flex-basis: 60%;
}
#main-right {
  flex-basis: 20%;
}
/* center section */
.write {
  padding: 20px;
  padding-left: 30px;
}
.write div {
  margin: 30px 0 0 0;
}
#title input {
  width: 91%;
  padding-bottom: 20px;
  border: none;
  font-size: 22px;
  border-bottom: solid 1px #ababab;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#contents textarea {
  width: 91%;
  resize: none;
  border: none;
  height: 300px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
#title input:focus,
#contents textarea:focus {
  outline: none;
}
/* right section */
#post-submit {
  text-align: center;
  margin-top: 20px;
}
#post-submit button {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ababab;
  cursor: pointer;
  background-color: white;
}

/* 게시판 리스트 */
.list {
  padding: 20px;
  min-height: 300px;
}
.list-title {
  border-bottom: 1px solid #ababab;
  color: #ababab;
}
.list-box {
  display: flex;
}
.list-box div {
  padding: 10px;
}
.list-data {
  line-height: 30px;
}
.list-title div:nth-child(1),
.list-data div:nth-child(1) {
  flex-basis: 70%;
}
.list-title div:nth-child(2),
.list-data div:nth-child(2) {
  flex-basis: 15%;
}
.list-title div:nth-child(3),
.list-data div:nth-child(3) {
  flex-basis: 15%;
}
.list-data .acenter {
  text-align: center;
}
.not-data {
  margin: 10px 0;
  color: #ababab;
  text-align: center;
}

/* 게시판 페이징 */
.paging-div {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.paging-div div {
  padding: 15px;
  text-align: center;
}
.paging-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-num {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
.paging-div div:nth-child(1) {
  flex-basis: 15%;
}
.paging-div div:nth-child(2) {
  flex-basis: 70%;
}
.paging-div div:nth-child(3) {
  flex-basis: 15%;
}

/* 검색창 */
.search-input {
  padding: 2px;
  margin-right: 10px;
  min-width: 50px;
}
.search-submit {
  position: absolute;
  cursor: pointer;
}
