/* 기본 설정 */
* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

/* 메인 구역 */
.main {
  display: flex;
  justify-content: space-between;
}
#main-left {
  flex-basis: 20%;
}
#main-center {
  border-left: 2px solid black;
  border-right: 2px solid black;
  flex-basis: 60%;
}
#main-right {
  flex-basis: 20%;
}
/* center section */
/* 헤더 */
.header {
  display: flex;
  justify-content: space-between;
}
.login-list {
  list-style: none;
  padding: 20px;
}
.logo {
  margin: 20px;
  cursor: pointer;
}
.login-list li {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}
/* 글쓰기 페이지 */
.write {
  padding: 20px;
  padding-left: 30px;
}
.write #title {
  margin: 30px 0 0 0;
}
#title input {
  width: 99%;
  padding-bottom: 10px;
  border: none;
  font-size: 22px;
  border-bottom: solid 1px #ababab;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#contents {
  width: 99%;
  resize: none;
  border: none;
  height: 400px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
#title input:focus,
#contents textarea:focus {
  outline: none;
}
/* right section */
#post-submit {
  text-align: center;
  margin-top: 20px;
}
#post-submit button {
  width: 120px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ababab;
  cursor: pointer;
  background-color: white;
}
.select-category-box {
  margin: 30px;
  text-align: center;
}
.select-category {
  padding: 4px;
  margin-top: 5px;
}

/* 게시판 리스트 */
.list {
  padding: 20px;
  min-height: 300px;
}
.list-title {
  border-bottom: 1px solid #ababab;
  color: #ababab;
}
.list-box {
  display: flex;
}
.list-box div {
  padding: 10px;
}
.list-data {
  line-height: 30px;
}
.list-title div:nth-child(1),
.list-data div:nth-child(1) {
  flex-basis: 70%;
}
.list-title div:nth-child(2),
.list-data div:nth-child(2) {
  flex-basis: 15%;
}
.list-title div:nth-child(3),
.list-data div:nth-child(3) {
  flex-basis: 15%;
}
.list-data .acenter {
  text-align: center;
}
.not-data {
  margin: 10px 0;
  color: #ababab;
  text-align: center;
}

/* 게시판 페이징 */
.paging-div {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.paging-div div {
  padding: 15px;
  text-align: center;
}
.paging-div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-num {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}
.paging-div div:nth-child(1) {
  flex-basis: 15%;
}
.paging-div div:nth-child(2) {
  flex-basis: 70%;
}
.paging-div div:nth-child(3) {
  flex-basis: 15%;
}

/* 검색창 */
.search-input {
  padding: 2px;
  margin-right: 10px;
  min-width: 50px;
}
.search-submit {
  position: absolute;
  cursor: pointer;
}

/* 게시판 상세페이지 */
.view {
  min-width: 350px;
  min-height: 560px;
}
.view-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-box {
  border-bottom: 1px solid #ababab;
  flex-basis: 15%;
  padding: 10px 8px 0;
}
#title-txt {
  font-weight: 700;
  font-size: 16px;
}
.date-box {
  text-align: right;
  font-size: 13px;
  color: #ababab;
  margin: 0 10px 10px 0;
}
.title-box #title-txt {
  border: none;
  padding-bottom: 0px;
  width: 100%;
}

.write-option-box {
  display: flex;
  justify-content: end;
}
.write-option-box input,
#view-list-btn {
  align-items: flex-end;
  margin-right: 10px;
  border: 1px solid #ababab;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  height: 30px;
  width: 40px;
}
.contents-box {
  padding: 10px;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px;
}
#content-txt {
  border: none;
  font-size: 13px;
}

.other-box {
  display: flex;
  border-top: 1px solid #ababab;
  justify-content: space-between;
  flex-basis: 20%;
  padding: 10px;
}
.pre-view,
.next-view {
  font-size: 13px;
  flex-basis: 30%;
}
.other-box .like {
  margin-top: 20px;
}
.other-box .like img {
  width: 30px;
  cursor: pointer;
  margin-left: 5px;
}
.other-box .like h5 {
  margin-top: 5px;
}
.other-box p {
  text-align: center;
}
.pre-btn,
.next-btn {
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  height: 28px;
}
.pre-btn:hover,
.next-btn:hover {
  font-size: 28px;
}
.pre-title,
.next-title {
  min-width: 115px;
  margin-top: 10px;
  color: #ababab;
  text-align: center;
}

.reply-box {
  border-top: 1px solid #ababab;
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  padding: 15px;
}
.reply-write {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.reply-box textarea {
  width: 68%;
  padding: 10px;
  resize: none;
  font-size: 13px;
  line-height: 15px;
}
#reply-submit-btn {
  width: 22%;
  height: 67px;
  cursor: pointer;
}
#view-list-btn {
  margin: auto;
  margin-top: 30px;
}
/* left - 카테고리 메뉴 */
.category {
  padding: 20px 0;
}
.category ul {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.category ul li {
  list-style: none;
}
.category ul li a {
  list-style: none;
  color: black;
  text-decoration: none;
}
.category ul li .pre-food {
  font-weight: bold;
  color: indianred;
}
.category-edit {
  position: relative;
  margin: 10px 0px 0px 15px;
  padding: 1px 7px;
  border-radius: 4px;
  color: #ababab;
  background-color: #fff;
  border-color: #ababab;
  cursor: pointer;
}
.edit-category {
  display: flex;
  padding: 8px;
}
.remove-btn {
  position: relative;
  width: 20px;
  border: none;
  background-color: transparent;
}
.input-edit {
  width: 70%;
  margin: 0 5px;
}
.modify-btn {
  position: relative;
  width: 20px;
  border: none;
  background-color: transparent;
}
/* 로그인 */
.login-div {
  padding: 20px;
}
.search-user-info {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  border-top: 1px solid #ababab;
}
.back-and-close {
  border-bottom: 1px solid #ababab;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.back-and-close div {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.back-and-close img {
  width: 100%;
  height: 100%;
}
.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.search-box div {
  margin-top: 15px;
  text-align: center;
}
.search-box div input[name='search-id-name'],
.search-box div input[name='search-pw-id'] {
  width: 140px;
}
.search-box div input[name='search-id-bday'] {
  width: 80px;
}
.search-box div input[name='search-id-sex'] {
  width: 10px;
}
.search-box div input[name='search-id-email'],
.search-box div input[name='search-pw-email'] {
  width: 135px;
}
.search-box div input[name='search-id-write-email'],
.search-box div input[name='search-pw-write-email'] {
  width: 100px;
}
.search-box div input[name='search-id-submit'],
.search-id-result div input[name='search-id-back'],
.search-box div input[name='search-pw-submit'],
input[name='pw-secret-submit'],
input[name='change-pw-submit'] {
  margin-top: 20px;
  border: 1px solid #ababab;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}
.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.result-box div {
  margin-top: 15px;
  text-align: center;
}
.search-id-result-div {
  border: 1px solid #ababab;
}
.search-id-result-div div {
  margin: 10px;
}
.search-pw-result {
  padding-top: 20px;
}
.change-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
}
.change-box div {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-pw-result span {
  text-align: center;
  font-size: 14px;
}
input[name='pw-secret'] {
  margin: 0 10px 0 0;
  width: 130px;
  padding: 5px;
}
/* 회원가입 */
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 5px;
}
#signup-title {
  color: #454545;
  margin-top: 20px;
}
.signup div {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup div h5 {
  text-align: center;
}
.signup div input {
  padding: 3px;
}
.signup .signup-bday {
  display: flex;
}
.signup-bday div {
  flex-direction: row;
}
.signup-bday div input:first-child {
  width: 75px;
}
.signup-bday div input:last-child {
  width: 10px;
}
input[name='signup-email'] {
  width: 100px;
}
.email div {
  flex-direction: row;
}
.signup-submit {
  display: flex;
}
input[name='signup-submit'] {
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #ababab;
  background-color: white;
  cursor: pointer;
  width: 90px;
  margin: auto;
  margin-top: 30px;
  align-items: center;
}
.signup .email {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.signup .email select {
  width: 100px;
}
input[name='signup-email-write'] {
  width: 100px;
  margin-left: 130px;
}
.signup .input-warn {
  font-size: 10px;
  color: red;
}
