/* 로그인 구역 */
.login-title {
  border-bottom: solid 1px #ababab;

  margin: 0;
  padding: 20px;
}
.login-div {
  display: flex;
  flex-direction: column;
}
.login-input {
  margin-top: 20px;
  padding: 0;
}

.login-input p {
  font-weight: bold;
  margin: 0;
}

.login-input input {
  width: 92%;
}

.login-div {
  text-align: left;
  padding-left: 20px;
}

.login-submit {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.login-submit div {
  text-align: center;
  margin-right: 20px;
}

.login-submit div input {
  cursor: pointer;
}
